@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  user-select: none; /* Prevent text selection */
  overflow: hidden; /* Prevent body scroll */
}

/* Custom Font Loading */
@font-face {
  font-family: 'Pyidaungsu';
  src: local('Pyidaungsu'), url('https://fonts.gstatic.com/s/pyidaungsu/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff2') format('woff2');
}

/* Smooth Scrolling for internal elements if needed (though we disabled it for main area) */
html {
  scroll-behavior: smooth;
}
